profiles {
    pachyderm {
    }

    tara {
    }

    colossus {
    }
}

manifest {
  mainScript = 'main.nf'
  name = 'Demo'
  description = """
  Demon Pipeline
	Usage:
	   nextflow run nbt/demo \\
	     -hub seeds \\
	     -resume
  """
  author = 'Krittin Phornsiricharoenphant (oatkrittin@gmail.com)'
  homePage = 'https://github.com/sinonkt/nf-tutorial-dsl-2'
  version = '0.0.5'
}
